body {
  width: 1000px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

div {
  margin: 15px;
}
/* main {
  //margin:20px;
} */

nav, footer {
  clear: both;
  background: rgb(82, 82, 82);
  width: 100%;
  height: 100px;
}

footer {
  height: 150;
}

#div-nav-logo {
  width: 200px;
  float: left;
}

#div-nav {
  text-align: center;
  vertical-align: middle;
  width: 160px;
  height: 70px;
  line-height: 70px;
  float: left;
}
#sub-banner {
  width: 300px;
  float: left;
}

#feature-section-div {
  width: 480px;
  float: left;
}

#feature-section-heading {
  position: relative;
  width: 450px;
  height: 400px;
  float: left;
  overflow: scroll;
}

h3 {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  z-index:10;
}

button {
  font-weight: bold;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  color: #000000;
  background-color: #dddddd;
  border-radius: 10px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 50px;
  transition: all .350s ease-in-out;
}

button:hover {
  font-weight: bold;
  position: absolute;
  color: #000000;
  background-color: #aaaaaa;
  border-radius: 10px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 50px;
  transition: all .350s ease-in-out;
}
